In [1]:
import requests
from bs4 import BeautifulSoup as soup
import pandas as pd
import uuid
import difflib
import html5lib
pd.options.mode.chained_assignment = None

In [2]:
player_index = pd.read_csv('../updated_datasets/player_index.csv')
player_index = player_index[player_index.columns[1:]]
player_index

                Player                                  UUID
0        Kevin Garnett  4035d838-5ed7-4507-86ad-0488a9b9c358
1     Shaquille O'Neal  74b99a51-bb65-436f-8bcc-7022af2a490a
2      Alonzo Mourning  8051eb29-ecd7-46b5-b2fa-415777e11e83
3         Juwan Howard  5bdd7fb5-050d-4b0c-befb-5fbf7109397c
4      Hakeem Olajuwon  be9d9c53-d445-4b8c-acc9-ad1c30e8598b
...                ...                                   ...
2224    Jordan Schakel  49852ad9-c5e3-4124-bd75-2ad27b5a859f
2225    Jordan Goodwin  70d9ad35-fb19-497a-a358-d77a2a2e89ba
2226       Craig Sword  c29acdbe-9077-44c0-a8b3-f997ddff72a2
2227   Jaime Echenique  727da240-fbce-4643-ba94-f74509e2e746
2228    Zavier Simpson  02af4e7e-85eb-4a39-a560-683c3fea3865

[2229 rows x 2 columns]

In [3]:
def awards_data():
    main = soup(requests.get('http://www.espn.com/nba/history/awards').text, 'html.parser')
    links = [a['href'] for a in main.find_all('a', class_='bi', href=True)]
    links.remove('//www.espn.com/nba/history/awards/_/id/34')
    null_players = []
    
    for link in links:
        #grab the header of the website page
        name = str(soup(requests.get(f'http:{link}').text).select('h2')[0]).replace(
            '<h2>', '').replace('</h2>', '').replace('<h2>', '').partition('- ')[-1].split()
        
        #'the' doesn't get iterated through so remove it
        if 'the' in name:
            name.remove('the')
            
        #set variable name to the first two capitalized words of the header
        if len(name) > 1:
            for word in name:
                if word[0] != word[0].upper():
                    name.remove(word)
            var_name = (name[0] + '_' + name[1]).lower().replace('-', '_')
        else:
            var_name = ''.join(name).lower()
        
        #grab the datset
        globals()[var_name] = pd.read_html(requests.get(f'http:{link}').text)[0]
        
        #clean the data
        globals()[var_name].columns = globals()[var_name].iloc[1].str.capitalize()
        globals()[var_name] = globals()[var_name].tail(-2)

        #some tables have blank year columns so filter for that
        globals()[var_name].fillna(method='ffill', inplace=True)

        #more cleaning
        globals()[var_name] = globals()[var_name][globals()[var_name]['Year'].astype('int') >= 2000]
        globals()[var_name] = globals()[var_name][globals()[var_name].columns[:4]]

        #gather uuids
        globals()[var_name] = pd.merge(left=globals()[var_name], right=player_index, how='left', on='Player')
        
        #locate mispelled names
        for row in globals()[var_name][globals()[var_name]['UUID'].isnull()]['Player']:
            null_players.append(row)
            
    null_players = pd.DataFrame(null_players, columns=['Player']).drop_duplicates()

    return null_players

In [4]:
def just_name(row):
    return str(row['Name']).split(', ')[0].split('  ')[-1]

def just_pos(row):
    return str(row['Temp']).split(', ')[-1]

def stats_data():
    null_players = []
    for i in range(22):
        year = (2001 + i)
        var_name = f'stats_{year - 1}'

        table_soup = soup(requests.get(f'http://www.espn.com/nba/statistics/rpm/_/year/{year}/page/1').text, 'html.parser')
        page_count = int(str(table_soup.select('div.page-numbers')).split('of ')[1].split('<')[0])
        table = pd.read_html(str(table_soup.select('table.tablehead')))[0]
        for i in range(2, page_count + 1):
            table_soup = soup(requests.get(f'http://www.espn.com/nba/statistics/rpm/_/year/{year}/page/{i}').text, 'html.parser')
            table = pd.concat([table, pd.read_html(str(table_soup.select('table.tablehead')))[0]])
            
        table.columns = table.iloc[0].str.capitalize()
        table = table.tail(-1)
        table['Temp'] = table['Name']
        table['Name'] = table.apply(just_name, axis=1)
        table['Temp'] = table.apply(just_pos, axis=1)
        table.rename(columns={'Temp': 'Pos', 'Name': 'Player'}, inplace=True)
        cols = table.columns.values
        table = pd.merge(left=table, right=player_index, how='left', on='Player')

        for row in table[table['UUID'].isnull()]['Player']:
            null_players.append(row)
    null_players = pd.DataFrame(null_players, columns=['Player']).drop_duplicates()
    return null_players

In [5]:
def draft_data():
    null_players = []
    for i in range(22):
        year = 2000 + i
        var_name = f'draft_{year}'
        
        globals()[var_name] = pd.read_html(requests.get(f'https://www.basketball-reference.com/draft/NBA_{year}.html').text)[0]
        
        globals()[var_name].columns = globals()[var_name].columns.get_level_values(1)
        globals()[var_name] = globals()[var_name][globals()[var_name].columns[1:4]]
        globals()[var_name].dropna(inplace=True)
        globals()[var_name] = globals()[var_name][globals()[var_name]['Player'] != 'Player']
        globals()[var_name].rename(columns={'Pk':'Pick','Tm':'Team'}, inplace=True)
        globals()[var_name]['Year'] = year
        globals()[var_name] = pd.merge(left=globals()[var_name], right=player_index, how='left', on='Player')
        
        for row in globals()[var_name][globals()[var_name]['UUID'].isnull()]['Player']:
            null_players.append(row)
    null_players = pd.DataFrame(null_players, columns=['Player']).drop_duplicates()

In [6]:
def locate_nulls():
    null_players = awards_data()
    null_players = pd.concat([stats_data(), null_players]).drop_duplicates()
    null_players = pd.concat([draft_data(), null_players]).drop_duplicates().reset_index(drop=True)
    null_players = null_players[null_players['Player'] != 'NAME'] 
    return null_players

In [7]:
null_players = locate_nulls()

In [8]:
null_players

                   Player
0        Darrel Armstrong
2           Scott Burrell
3         Peja Stojakovic
4              P.J. Brown
5           Jaren Jackson
..                    ...
170  Duane Washington Jr.
171    Chaundee Brown Jr.
172          Joshua Primo
173       Jeff Dowtin Jr.
174         Javonte Smart

[174 rows x 1 columns]

In [9]:
def nearest_name(players):
    nearest_name = []
    original_name = []
    for name in players['Player']:
        close_matches = difflib.get_close_matches(name, player_index['Player'], 1)
        for x in close_matches:
                nearest_name.append(x)
                original_name.append(name)
    nearest_name = pd.DataFrame(nearest_name, columns=['New_name'])
    nearest_name['Original_name'] = original_name
    return nearest_name

In [10]:
null_players = nearest_name(null_players)

In [11]:
print(null_players.to_markdown())

|     | New_name               | Original_name            |
|----:|:-----------------------|:-------------------------|
|   0 | Darrell Armstrong      | Darrel Armstrong         |
|   1 | Scottie Barnes         | Scott Burrell            |
|   2 | Predrag Stojakovic     | Peja Stojakovic          |
|   3 | PJ Brown               | P.J. Brown               |
|   4 | Jaren Jackson Jr       | Jaren Jackson            |
|   5 | Quinndary Weatherspoon | Ray Weathers             |
|   6 | AJ Guyton              | A.J. Guyton              |
|   7 | Stanislav Medvedenko   | Slava Medvedenko         |
|   8 | Chuck Person           | Chucky Brown             |
|   9 | Hidayet Turkoglu       | Hedo Turkoglu            |
|  10 | David Wingate          | David Vanterpool         |
|  11 | Jabari Smith Sr        | Jabari Smith             |
|  12 | Radoslav Nesterovic    | Rasho Nesterovic         |
|  13 | Darren Collison        | Sean Colson              |
|  14 | Don MacLean            | Don Maclean              |
|  15 | Iakovos Tsakalidis     | Jake Tsakalidis          |
|  16 | Jim McIlvaine          | Jim Mcilvaine            |
|  17 | Tommy Smith            | Tony Smith               |
|  18 | Chris Carr             | Chris Garner             |
|  19 | James Thomas           | Jamel Thomas             |
|  20 | Jason Collier          | John Coker               |
|  21 | Ky Bowman              | Ira Bowman               |
|  22 | Joe Crispin            | Joseph Crispin           |
|  23 | Shaun Livingston       | Randy Livingston         |
|  24 | Willie Solomon         | Will Solomon             |
|  25 | Donyell Marshall       | Donny Marshall           |
|  26 | Norm Richardson        | Norman Richardson        |
|  27 | JR Bremer              | J.R. Bremer              |
|  28 | Roger Mason            | Roger Mason Jr.          |
|  29 | Amare Stoudemire       | Amar'e Stoudemire        |
|  30 | Ken Johnson            | Kenyata Johnson          |
|  31 | Antoine Wright         | Antoine Rigaudeau        |
|  32 | Mike Sweetney          | Michael Sweetney         |
|  33 | Sasha Vujacic          | Sasha Pavlovic           |
|  34 | Desmond Mason          | Desmond Ferguson         |
|  35 | Monty Williams         | Mo Williams              |
|  36 | TJ Ford                | T.J. Ford                |
|  37 | Desmond Bane           | Desmond Penigar          |
|  38 | Todd Fuller            | Hiram Fuller             |
|  39 | Vince Carter           | Maurice Carter           |
|  40 | Mike Penberthy         | Kirk Penney              |
|  41 | Carlik Jones           | Mark Jones               |
|  42 | Maurice Ager           | Maurice Baker            |
|  43 | Viktor Khryapa         | Victor Khryapa           |
|  44 | Ibo Kutluay            | Ibrahim Kutluay          |
|  45 | Anthony Brown          | Anthony Grundy           |
|  46 | John Lucas             | John Lucas III           |
|  47 | Louis Williams         | Lou Williams             |
|  48 | Derrick Coleman        | Derrick Zimmerman        |
|  49 | Sergey Monya           | Sergei Monia             |
|  50 | Norvel Pelle           | Noel Felix               |
|  51 | Walter Herrmann        | Walter Herrmann Heinrich |
|  52 | Kevin Pittsnogle       | Kevinn Pinkney           |
|  53 | Jose Juan Barea        | J.J. Barea               |
|  54 | Louis Amundson         | Lou Amundson             |
|  55 | PJ Tucker              | P.J. Tucker              |
|  56 | Saer Sene              | Mouhamed Sene            |
|  57 | Josh Powell            | Kasib Powell             |
|  58 | CJ Watson              | C.J. Watson              |
|  59 | Lavoy Allen            | Lance Allred             |
|  60 | DJ White               | D.J. White               |
|  61 | DJ Augustin            | D.J. Augustin            |
|  62 | Roko Ukic              | Roko-Leni Ukic           |
|  63 | OJ Mayo                | O.J. Mayo                |
|  64 | Jordan Crawford        | Joe Crawford             |
|  65 | Al Jefferson           | Dontell Jefferson        |
|  66 | AJ Price               | A.J. Price               |
|  67 | JR Giddens             | J.R. Giddens             |
|  68 | Patrick Mills          | Patty Mills              |
|  69 | BJ Mullens             | Byron Mullens            |
|  70 | Hamady N'Diaye         | Hamady Ndiaye            |
|  71 | Patrick Ewing          | Patrick Ewing Jr.        |
|  72 | DeMarcus Cousins       | Marcus Cousin            |
|  73 | Josh Smith             | Ish Smith                |
|  74 | Derrick Favors         | Derrick Byars            |
|  75 | Joe Smith              | Jerry Smith              |
|  76 | DJ Kennedy             | D.J. Kennedy             |
|  77 | Marcus Morris          | Marcus Morris Sr.        |
|  78 | Cedric Jackson         | Eric Dawson              |
|  79 | Vyacheslav Kravtsov    | Slava Kravtsov           |
|  80 | Moe Harkless           | Maurice Harkless         |
|  81 | John Thomas            | Adonis Thomas            |
|  82 | Gigi Datome            | Luigi Datome             |
|  83 | Toure Murry            | Toure' Murry             |
|  84 | Glen Rice Jr           | Glen Rice Jr.            |
|  85 | Tim Hardaway Jr        | Tim Hardaway Jr.         |
|  86 | Otto Porter            | Otto Porter Jr.          |
|  87 | Erik Murphy            | Erik Jay Murphy          |
|  88 | Dennis Schroeder       | Dennis Schroder          |
|  89 | James Ennis            | James Ennis III          |
|  90 | Josh Christopher       | Patrick Christopher      |
|  91 | PJ Hairston            | P.J. Hairston            |
|  92 | TJ Warren              | T.J. Warren              |
|  93 | Johnny O'Bryant        | Johnny O'Bryant III      |
|  94 | Marcelo Huertas        | Marcelinho Huertas       |
|  95 | TJ McConnell           | T.J. McConnell           |
|  96 | Larry Nance Jr         | Larry Nance Jr.          |
|  97 | Walter Tavares         | Edy Tavares              |
|  98 | Joseph Young           | Joe Young                |
|  99 | Kelly Oubre            | Kelly Oubre Jr.          |
| 100 | Timothe Luwawu         | Timothe Luwawu-Cabarrot  |
| 101 | DeAndre Bembry         | DeAndre' Bembry          |
| 102 | Derrick Jones          | Derrick Jones Jr.        |
| 103 | Juan Hernangomez       | Juancho Hernangomez      |
| 104 | Wade Baldwin           | Wade Baldwin IV          |
| 105 | Andrew White           | Andrew White III         |
| 106 | OG Anunoby             | O.G. Anunoby             |
| 107 | Frank Mason            | Frank Mason III          |
| 108 | Derrick Walton         | Derrick Walton Jr.       |
| 109 | James Webb             | James Webb III           |
| 110 | Matt Williams          | Matt Williams Jr.        |
| 111 | Wesley Iwundu          | Wes Iwundu               |
| 112 | CJ Williams            | C.J. Williams            |
| 113 | TJ Leaf                | T.J. Leaf                |
| 114 | Dennis Smith           | Dennis Smith Jr.         |
| 115 | Walter Lemon Jr        | Walt Lemon Jr.           |
| 116 | DJ Wilson              | D.J. Wilson              |
| 117 | Danuel House           | Danuel House Jr.         |
| 118 | Cam Reynolds           | Cameron Reynolds         |
| 119 | Raymond Spalding       | Ray Spalding             |
| 120 | Devonte Graham         | Devonte' Graham          |
| 121 | Billy Garrett          | Billy Garrett Jr.        |
| 122 | JP Macura              | J.P. Macura              |
| 123 | Harry Giles            | Harry Giles III          |
| 124 | Lonnie Walker          | Lonnie Walker IV         |
| 125 | Jaren Jackson Jr       | Jaren Jackson Jr.        |
| 126 | Marvin Bagley          | Marvin Bagley III        |
| 127 | Sviatoslav Mykhailiuk  | Svi Mykhailiuk           |
| 128 | Melvin Frazier         | Melvin Frazier Jr.       |
| 129 | Robert Williams        | Robert Williams III      |
| 130 | Gary Trent Jr          | Gary Trent Jr.           |
| 131 | Wendell Carter         | Wendell Carter Jr.       |
| 132 | Naz Long               | Naz Mitrou-Long          |
| 133 | Troy Brown             | Troy Brown Jr.           |
| 134 | Kevin Knox             | Kevin Knox II            |
| 135 | PJ Washington          | P.J. Washington          |
| 136 | Eric Maynor            | Eric Mika                |
| 137 | Nicolas Claxton        | Nic Claxton              |
| 138 | Donta Hall             | Devon Hall               |
| 139 | Charlie Brown          | Charlie Brown Jr.        |
| 140 | Jason Kidd             | Stanton Kidd             |
| 141 | Michael Porter         | Michael Porter Jr.       |
| 142 | Brian Bowen            | Brian Bowen II           |
| 143 | Michael Frazier        | Michael Frazier II       |
| 144 | Kevin Porter           | Kevin Porter Jr.         |
| 145 | Robert Pack            | Robert Franks            |
| 146 | Robert Woodard         | Robert Woodard II        |
| 147 | Kira Lewis             | Kira Lewis Jr.           |
| 148 | Vernon Carey           | Vernon Carey Jr.         |
| 149 | Kenyon Martin          | Kenyon Martin Jr.        |
| 150 | RJ Hampton             | R.J. Hampton             |
| 151 | Herb Jones             | Herbert Jones            |
| 152 | Santiago Aldama        | Santi Aldama             |
| 153 | Trey Murphy            | Trey Murphy III          |
| 154 | Ishmail Wainright      | Ish Wainright            |
| 155 | Brandon Armstrong      | Brandon Boston Jr.       |
| 156 | Greg Brown             | Greg Brown III           |
| 157 | David Duke             | David Duke Jr.           |
| 158 | RJ Nembhard            | RJ Nembhard Jr.          |
| 159 | Duane Washington Jr    | Duane Washington Jr.     |
| 160 | Chaundee Brown         | Chaundee Brown Jr.       |
| 161 | Josh Primo             | Joshua Primo             |
| 162 | Jeff Dowtin            | Jeff Dowtin Jr.          |
| 163 | Ja'Vonte Smart         | Javonte Smart            |

In [12]:
null_players.head()

             New_name     Original_name
0   Darrell Armstrong  Darrel Armstrong
1      Scottie Barnes     Scott Burrell
2  Predrag Stojakovic   Peja Stojakovic
3            PJ Brown        P.J. Brown
4    Jaren Jackson Jr     Jaren Jackson

In [13]:
null_players.drop([1, 5, 8, 10, 13, 17, 18, 19, 20, 21, 23, 31, 34, 37, 38, 39, 40, 41, 42, 45, 48, 50, 52, 57, 59, 64, 65, 72, 74, 75, 78, 81, 90, 136, 138, 140, 145], axis=0, inplace=True).reset_index(drop=True)
null_players

                New_name         Original_name
0      Darrell Armstrong      Darrel Armstrong
2     Predrag Stojakovic       Peja Stojakovic
3               PJ Brown            P.J. Brown
4       Jaren Jackson Jr         Jaren Jackson
6              AJ Guyton           A.J. Guyton
..                   ...                   ...
159  Duane Washington Jr  Duane Washington Jr.
160       Chaundee Brown    Chaundee Brown Jr.
161           Josh Primo          Joshua Primo
162          Jeff Dowtin       Jeff Dowtin Jr.
163       Ja'Vonte Smart         Javonte Smart

[127 rows x 2 columns]

In [30]:
null_players.reset_index(drop=True)
null_players.loc[null_players[null_players['Original_name'] == 'Sasha Pavlovic'].index, 'New_name'] = 'Aleksandar Pavlovic'
null_players.loc[null_players[null_players['Original_name'] == 'Mo Williams'].index, 'New_name'] = 'Maurice Williams'
null_players.loc[null_players[null_players['Original_name'] == 'Ish Smith'].index, 'New_name'] = 'Ishmael Smith'
null_players.loc[null_players[null_players['Original_name'] == 'Brandon Boston Jr.'].index, 'New_name'] = 'BJ Boston'

In [31]:
null_players[null_players['Original_name'] == 'Brandon Boston Jr.']

      New_name       Original_name
155  BJ Boston  Brandon Boston Jr.

In [32]:
null_players.to_csv('../updated_datasets/null_players.csv')