In [62]:
import requests
from bs4 import BeautifulSoup as soup
import pandas as pd
import psycopg2
import pprint

In [63]:
conn_string = "host='localhost' dbname='nba_disappointments' user='postgres' password='password'"
conn = psycopg2.connect(conn_string)
c = conn.cursor()

In [55]:
for year in range(2000, 2022):
    with conn.cursor() as cur:
        cur.execute(f'''
        CREATE TABLE player_scores_{year} AS (
            select
                sub.uuid,
                sub.year,
                sub.team,
                sub.player,
                sub.salary,
                sub.percent_of_team,
                sub.wins as wins_contributed,
                case when sub.relative_wins = 0 then 0 else (sub.percent_of_team / sub.relative_wins)::decimal(6,2) end as production_score
                from (
                    with t1 as (
                        select 
                            avg(adjusted_wins)::Decimal(6,2) as avg_wins
                            from stats_{year}
                    ),

                    t2 as (
                        select
                            "UUID" as uuid,
                            "Year" as year,
                            "Abb" as team,
                            sal."Player" as player,
                            "Salary" as salary,
                            ("Perc")::decimal(6,4) as percent_of_team,
                            "Perc_score" as salary_score,
                            "Wins" as wins,
                            (adjusted_wins)::Decimal(6,2) as adjusted_wins
                            from team_salaries_{year} sal
                            left join stats_{year} stat
                                using("UUID")
                    )

                    select 
                        t2.*,
                        (t2.adjusted_wins / t1.avg_wins)::decimal(6,4) as relative_wins
                        from t1, t2
                ) sub
                where wins IS NOT NULL
                order by 8 desc
        );
        ''')
    
    # Commit the changes to the database
    conn.commit()

# Close the database connection
conn.close()

In [64]:
with conn.cursor() as cur:
    cur.execute('''
    CREATE TABLE player_scores AS (
        SELECT * FROM player_scores_2000
        UNION ALL
        SELECT * FROM player_scores_2001
        UNION ALL
        SELECT * FROM player_scores_2002
        UNION ALL
        SELECT * FROM player_scores_2003
        UNION ALL
        SELECT * FROM player_scores_2004
        UNION ALL
        SELECT * FROM player_scores_2005
        UNION ALL
        SELECT * FROM player_scores_2006
        UNION ALL
        SELECT * FROM player_scores_2007
        UNION ALL
        SELECT * FROM player_scores_2008
        UNION ALL
        SELECT * FROM player_scores_2009
        UNION ALL
        SELECT * FROM player_scores_2010
        UNION ALL
        SELECT * FROM player_scores_2011
        UNION ALL
        SELECT * FROM player_scores_2012
        UNION ALL
        SELECT * FROM player_scores_2013
        UNION ALL
        SELECT * FROM player_scores_2014
        UNION ALL
        SELECT * FROM player_scores_2015
        UNION ALL
        SELECT * FROM player_scores_2016
        UNION ALL
        SELECT * FROM player_scores_2017
        UNION ALL
        SELECT * FROM player_scores_2018
        UNION ALL
        SELECT * FROM player_scores_2019
        UNION ALL
        SELECT * FROM player_scores_2020
        UNION ALL
        SELECT * FROM player_scores_2021
        );
        ''')
    # Commit the changes to the database
    conn.commit()

# Close the database connection
conn.close()