In [1]:
import requests
from bs4 import BeautifulSoup as soup
import pandas as pd
import uuid
import difflib
#import html5lib
pd.options.mode.chained_assignment = None

In [2]:
player_index = pd.read_csv('../updated_datasets/player_index.csv')
player_index = player_index[player_index.columns[1:]]
player_index

                Player                                  UUID
0        Kevin Garnett  4035d838-5ed7-4507-86ad-0488a9b9c358
1     Shaquille O'Neal  74b99a51-bb65-436f-8bcc-7022af2a490a
2      Alonzo Mourning  8051eb29-ecd7-46b5-b2fa-415777e11e83
3         Juwan Howard  5bdd7fb5-050d-4b0c-befb-5fbf7109397c
4      Hakeem Olajuwon  be9d9c53-d445-4b8c-acc9-ad1c30e8598b
...                ...                                   ...
2224    Jordan Schakel  49852ad9-c5e3-4124-bd75-2ad27b5a859f
2225    Jordan Goodwin  70d9ad35-fb19-497a-a358-d77a2a2e89ba
2226       Craig Sword  c29acdbe-9077-44c0-a8b3-f997ddff72a2
2227   Jaime Echenique  727da240-fbce-4643-ba94-f74509e2e746
2228    Zavier Simpson  02af4e7e-85eb-4a39-a560-683c3fea3865

[2229 rows x 2 columns]

In [3]:
def just_name(row):
    return str(row['Name']).split(', ')[0].split('  ')[-1]

def just_pos(row):
    return str(row['Temp']).split(', ')[-1]

def clean_table(table):
    table.columns = table.iloc[0].str.capitalize()
    table = table.tail(-1)
    table['Temp'] = table.loc[:, 'Name']
    table['Name'] = table.apply(just_name, axis=1)
    table['Temp'] = table.apply(just_pos, axis=1)
    table.drop(columns=['Rk'], inplace=True)
    table.rename(columns={'Temp': 'Pos', 'Name': 'Player'}, inplace=True)
    cols = table.columns.values
    cols = [cols[i] for i in [0, 8, 1, 2, 3, 4, 5, 6, 7]]
    table = table[cols]
    table = pd.merge(left=table, right=player_index, how='left', on='Player')
    table.dropna(inplace=True)
    table.reset_index(drop=True)
    return table

In [4]:
df_list = []
table_list = []
def create_tables(num):
    for i in range(num):
        year = (2001 + i)
        var_name = f'stats_{year - 1}'
        table_list.append(var_name)

        table_soup = soup(requests.get(f'http://www.espn.com/nba/statistics/rpm/_/year/{year}/page/1').text, 'html.parser')
        page_count = int(str(table_soup.select('div.page-numbers')).split('of ')[1].split('<')[0])
        table = pd.read_html(str(table_soup.select('table.tablehead')))[0]
        for i in range(2, page_count + 1):
            table_soup = soup(requests.get(f'http://www.espn.com/nba/statistics/rpm/_/year/{year}/page/{i}').text, 'html.parser')
            table = pd.concat([table, pd.read_html(str(table_soup.select('table.tablehead')))[0]])

        globals()[var_name] = clean_table(table)
        #globals()[var_name].to_csv(f'../updated_datasets/stats_data/{var_name}.csv')
        df_list.append(globals()[var_name])

    return table_list

In [5]:
create_tables(22)

['stats_2000',
 'stats_2001',
 'stats_2002',
 'stats_2003',
 'stats_2004',
 'stats_2005',
 'stats_2006',
 'stats_2007',
 'stats_2008',
 'stats_2009',
 'stats_2010',
 'stats_2011',
 'stats_2012',
 'stats_2013',
 'stats_2014',
 'stats_2015',
 'stats_2016',
 'stats_2017',
 'stats_2018',
 'stats_2019',
 'stats_2020',
 'stats_2021']

In [6]:
stats_2004

,Player,Pos,Team,Gp,Mpg,Orpm,Drpm,Rpm,Wins,UUID
0,Tim Duncan,C,SA,66,33.4,2.82,5.11,7.93,15.89,1aba9f56-0b6b-428e-b755-819a337ce515
1,Andrei Kirilenko,SF,UTAH,41,32.9,1.90,4.59,6.49,8.34,264998a4-bb1c-44d5-8a17-d5e33001ccbe
2,Manu Ginobili,G,SA,74,29.6,3.74,2.20,5.94,13.01,294027c7-c0bb-467a-8693-07d4216b7587
3,Shaquille O'Neal,C,MIA,73,34.1,4.72,1.21,5.93,14.92,74b99a51-bb65-436f-8bcc-7022af2a490a
4,Tracy McGrady,SG,HOU,78,40.8,3.46,1.74,5.20,17.46,b08d73ba-5002-4a5b-91cf-f16b7bb6fd6c
...,...,...,...,...,...,...,...,...,...,...
463,John Edwards,C,IND,25,5.6,-4.22,-1.95,-6.17,-0.24,ec8cbcb1-5e8e-445b-a88e-dd84d2f74709
464,Theron Smith,SF,CHA,33,15.5,-4.29,-2.21,-6.50,-1.15,aca1e07d-eb09-4e61-ab35-5b60802344f2
465,Aleksandar Radojevic,C,UTAH,12,10.7,-5.96,-1.05,-7.01,-0.32,e2d29ca9-0a10-4cb0-bd30-1b2936d2fd85
466,Rod Strickland,PG,HOU,16,12.3,-5.26,-2.15,-7.41,-0.53,8231d493-d800-464c-ad72-f888369ebf83
467,Vin Baker,PF,NY/HOU,27,7.6,-5.14,-2.66,-7.80,-0.63,4df714c7-9b02-4dcb-b84c-f42fd5d67824