In [13]:
import requests
from bs4 import BeautifulSoup as soup
import uuid
import difflib
import html5lib
pd.options.mode.chained_assignment = None 
import time
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

In [2]:
conn_string = 'postgresql+psycopg2://postgres:password@localhost:5432/nba_disappointments'
player_index = pd.read_csv('../updated_datasets/player_index.csv')
player_index = player_index[player_index.columns[1:]]

In [3]:
db = create_engine(conn_string)
conn = db.connect()

start_time = time.time()
player_index.to_sql('player_index', con=conn, if_exists='replace', index=False)
print("to_sql duration: {} seconds".format(time.time() - start_time))

to_sql duration: 0.043135643005371094 seconds

In [21]:
def load_to_sql(tables, directory):
    table_list = []
    for i in range(22):
        track = []
        year = 2000 + i
        var_name = f'{tables}_{year}'
        #load in the csvs
        globals()[var_name] = pd.read_csv(f'../updated_datasets/{directory}_data/{tables}_{year}.csv')
        globals()[var_name] = globals()[var_name][globals()[var_name].columns[1:]]
        track.append(var_name)
        #upload the csvs to sql
        db = create_engine('postgresql+psycopg2://postgres:password@localhost:5432/nba_disappointments')
        conn = db.connect()

        start_time = time.time()
        globals()[var_name].to_sql(f'{var_name}', con=conn, if_exists='replace', index=False)
        track.append(f'to_sql duration: {time.time() - start_time} seconds')
        #output a list of table names and upload durations
        table_list.append(track)
    return table_list

In [7]:
load_to_sql('draft')

[['draft_2000', 'to_sql duration: 0.01604151725769043 seconds'],
 ['draft_2001', 'to_sql duration: 0.01102590560913086 seconds'],
 ['draft_2002', 'to_sql duration: 0.012542247772216797 seconds'],
 ['draft_2003', 'to_sql duration: 0.010297536849975586 seconds'],
 ['draft_2004', 'to_sql duration: 0.013040304183959961 seconds'],
 ['draft_2005', 'to_sql duration: 0.012549638748168945 seconds'],
 ['draft_2006', 'to_sql duration: 0.010350704193115234 seconds'],
 ['draft_2007', 'to_sql duration: 0.011540651321411133 seconds'],
 ['draft_2008', 'to_sql duration: 0.010541915893554688 seconds'],
 ['draft_2009', 'to_sql duration: 0.011024951934814453 seconds'],
 ['draft_2010', 'to_sql duration: 0.012026548385620117 seconds'],
 ['draft_2011', 'to_sql duration: 0.011499166488647461 seconds'],
 ['draft_2012', 'to_sql duration: 0.01191401481628418 seconds'],
 ['draft_2013', 'to_sql duration: 0.015030622482299805 seconds'],
 ['draft_2014', 'to_sql duration: 0.017536401748657227 seconds'],
 ['draft_2015', 'to_sql duration: 0.011038541793823242 seconds'],
 ['draft_2016', 'to_sql duration: 0.013339996337890625 seconds'],
 ['draft_2017', 'to_sql duration: 0.013608694076538086 seconds'],
 ['draft_2018', 'to_sql duration: 0.012041091918945312 seconds'],
 ['draft_2019', 'to_sql duration: 0.012027502059936523 seconds'],
 ['draft_2020', 'to_sql duration: 0.012045145034790039 seconds'],
 ['draft_2021', 'to_sql duration: 0.012321710586547852 seconds']]

In [8]:
load_to_sql('stats')

[['stats_2000', 'to_sql duration: 0.02378702163696289 seconds'],
 ['stats_2001', 'to_sql duration: 0.023072004318237305 seconds'],
 ['stats_2002', 'to_sql duration: 0.02207159996032715 seconds'],
 ['stats_2003', 'to_sql duration: 0.02708268165588379 seconds'],
 ['stats_2004', 'to_sql duration: 0.023056983947753906 seconds'],
 ['stats_2005', 'to_sql duration: 0.02709174156188965 seconds'],
 ['stats_2006', 'to_sql duration: 0.024573802947998047 seconds'],
 ['stats_2007', 'to_sql duration: 0.02452850341796875 seconds'],
 ['stats_2008', 'to_sql duration: 0.024092674255371094 seconds'],
 ['stats_2009', 'to_sql duration: 0.034600257873535156 seconds'],
 ['stats_2010', 'to_sql duration: 0.024556875228881836 seconds'],
 ['stats_2011', 'to_sql duration: 0.02342367172241211 seconds'],
 ['stats_2012', 'to_sql duration: 0.023575305938720703 seconds'],
 ['stats_2013', 'to_sql duration: 0.023550987243652344 seconds'],
 ['stats_2014', 'to_sql duration: 0.02296757698059082 seconds'],
 ['stats_2015', 'to_sql duration: 0.026390790939331055 seconds'],
 ['stats_2016', 'to_sql duration: 0.024602413177490234 seconds'],
 ['stats_2017', 'to_sql duration: 0.031091928482055664 seconds'],
 ['stats_2018', 'to_sql duration: 0.025079011917114258 seconds'],
 ['stats_2019', 'to_sql duration: 0.024516820907592773 seconds'],
 ['stats_2020', 'to_sql duration: 0.026116609573364258 seconds'],
 ['stats_2021', 'to_sql duration: 0.02829575538635254 seconds']]

In [9]:
load_to_sql('salaries')

[['salaries_2000', 'to_sql duration: 0.018460750579833984 seconds'],
 ['salaries_2001', 'to_sql duration: 0.018576860427856445 seconds'],
 ['salaries_2002', 'to_sql duration: 0.019056320190429688 seconds'],
 ['salaries_2003', 'to_sql duration: 0.017546415328979492 seconds'],
 ['salaries_2004', 'to_sql duration: 0.022814512252807617 seconds'],
 ['salaries_2005', 'to_sql duration: 0.01755046844482422 seconds'],
 ['salaries_2006', 'to_sql duration: 0.01856541633605957 seconds'],
 ['salaries_2007', 'to_sql duration: 0.018552541732788086 seconds'],
 ['salaries_2008', 'to_sql duration: 0.018555164337158203 seconds'],
 ['salaries_2009', 'to_sql duration: 0.01850438117980957 seconds'],
 ['salaries_2010', 'to_sql duration: 0.021588563919067383 seconds'],
 ['salaries_2011', 'to_sql duration: 0.03310060501098633 seconds'],
 ['salaries_2012', 'to_sql duration: 0.030591964721679688 seconds'],
 ['salaries_2013', 'to_sql duration: 0.019072294235229492 seconds'],
 ['salaries_2014', 'to_sql duration: 0.018033742904663086 seconds'],
 ['salaries_2015', 'to_sql duration: 0.019556045532226562 seconds'],
 ['salaries_2016', 'to_sql duration: 0.02207660675048828 seconds'],
 ['salaries_2017', 'to_sql duration: 0.016432762145996094 seconds'],
 ['salaries_2018', 'to_sql duration: 0.01877617835998535 seconds'],
 ['salaries_2019', 'to_sql duration: 0.017551183700561523 seconds'],
 ['salaries_2020', 'to_sql duration: 0.01754593849182129 seconds'],
 ['salaries_2021', 'to_sql duration: 0.020067930221557617 seconds']]

In [11]:
def awards_data_names():
    table_names = []
    main = soup(requests.get('http://www.espn.com/nba/history/awards').text, 'html.parser')
    links = [a['href'] for a in main.find_all('a', class_='bi', href=True)]
    links.remove('//www.espn.com/nba/history/awards/_/id/34')
    
    for link in links:
        #grab the header of the website page
        name = str(soup(requests.get(f'http:{link}').text).select('h2')[0]).replace(
            '<h2>', '').replace('</h2>', '').replace('<h2>', '').partition('- ')[-1].split()
        
        #'the' doesn't get iterated through so remove it
        if 'the' in name:
            name.remove('the')
            
        #set variable name to the first two capitalized words of the header
        if len(name) > 1:
            for word in name:
                if word[0] != word[0].upper():
                    name.remove(word)
            var_name = (name[0] + '_' + name[1]).lower().replace('-', '_')
        else:
            var_name = ''.join(name).lower()
        
        table_names.append(var_name)
    return table_names

In [18]:
for link in awards_data_names():
    load_to_sql(link, 'awards')