In [1]:
import requests
from bs4 import BeautifulSoup as soup
import uuid
import difflib
import html5lib
import time
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
pd.options.mode.chained_assignment = None

In [2]:
conn_string = 'postgresql+psycopg2://postgres:password@localhost:5432/nba_disappointments'
player_index = pd.read_csv('../updated_datasets/player_index.csv')
player_index = player_index[player_index.columns[1:]]

In [3]:
null_players = pd.read_csv('../updated_datasets/null_players.csv')
null_players = null_players[null_players.columns[1:]]
null_players.head()

             New_name     Original_name
0   Darrell Armstrong  Darrel Armstrong
1  Predrag Stojakovic   Peja Stojakovic
2            PJ Brown        P.J. Brown
3    Jaren Jackson Jr     Jaren Jackson
4           AJ Guyton       A.J. Guyton

In [3]:
db = create_engine(conn_string)
conn = db.connect()

start_time = time.time()
player_index.to_sql('player_index', con=conn, if_exists='replace', index=False)
print("to_sql duration: {} seconds".format(time.time() - start_time))

to_sql duration: 0.07358002662658691 seconds

In [13]:
def load_to_sql(tables, directory):
    table_list = []
    for i in range(22):
        track = []
        year = 2000 + i
        var_name = f'{tables}_{year}'
        #load in the csvs
        globals()[var_name] = pd.read_csv(f'../updated_datasets/{directory}/{tables}_{year}.csv')
        globals()[var_name] = globals()[var_name][globals()[var_name].columns[1:]]
        track.append(var_name)
        #upload the csvs to sql
        db = create_engine('postgresql+psycopg2://postgres:password@localhost:5432/nba_disappointments')
        conn = db.connect()

        start_time = time.time()
        globals()[var_name].to_sql(f'{var_name}', con=conn, if_exists='replace', index=False)
        track.append(f'to_sql duration: {time.time() - start_time} seconds')
        #output a list of table names and upload durations
        table_list.append(track)
    return table_list

In [14]:
load_to_sql('draft', 'draft_data')

[['draft_2000', 'to_sql duration: 0.02886223793029785 seconds'],
 ['draft_2001', 'to_sql duration: 0.02787303924560547 seconds'],
 ['draft_2002', 'to_sql duration: 0.026911020278930664 seconds'],
 ['draft_2003', 'to_sql duration: 0.028089046478271484 seconds'],
 ['draft_2004', 'to_sql duration: 0.02652573585510254 seconds'],
 ['draft_2005', 'to_sql duration: 0.030486106872558594 seconds'],
 ['draft_2006', 'to_sql duration: 0.027571916580200195 seconds'],
 ['draft_2007', 'to_sql duration: 0.027065515518188477 seconds'],
 ['draft_2008', 'to_sql duration: 0.027068614959716797 seconds'],
 ['draft_2009', 'to_sql duration: 0.02656841278076172 seconds'],
 ['draft_2010', 'to_sql duration: 0.030083656311035156 seconds'],
 ['draft_2011', 'to_sql duration: 0.026571273803710938 seconds'],
 ['draft_2012', 'to_sql duration: 0.02959132194519043 seconds'],
 ['draft_2013', 'to_sql duration: 0.02646350860595703 seconds'],
 ['draft_2014', 'to_sql duration: 0.02655816078186035 seconds'],
 ['draft_2015', 'to_sql duration: 0.027091264724731445 seconds'],
 ['draft_2016', 'to_sql duration: 0.0302884578704834 seconds'],
 ['draft_2017', 'to_sql duration: 0.027067184448242188 seconds'],
 ['draft_2018', 'to_sql duration: 0.028585195541381836 seconds'],
 ['draft_2019', 'to_sql duration: 0.02896881103515625 seconds'],
 ['draft_2020', 'to_sql duration: 0.03209114074707031 seconds'],
 ['draft_2021', 'to_sql duration: 0.027106046676635742 seconds']]

In [21]:
load_to_sql('stats', 'stats_data')

[['stats_2000', 'to_sql duration: 0.046156883239746094 seconds'],
 ['stats_2001', 'to_sql duration: 0.039147377014160156 seconds'],
 ['stats_2002', 'to_sql duration: 0.037371158599853516 seconds'],
 ['stats_2003', 'to_sql duration: 0.03808093070983887 seconds'],
 ['stats_2004', 'to_sql duration: 0.038457393646240234 seconds'],
 ['stats_2005', 'to_sql duration: 0.04074597358703613 seconds'],
 ['stats_2006', 'to_sql duration: 0.04155468940734863 seconds'],
 ['stats_2007', 'to_sql duration: 0.04448509216308594 seconds'],
 ['stats_2008', 'to_sql duration: 0.0375823974609375 seconds'],
 ['stats_2009', 'to_sql duration: 0.03937506675720215 seconds'],
 ['stats_2010', 'to_sql duration: 0.08518385887145996 seconds'],
 ['stats_2011', 'to_sql duration: 0.03857779502868652 seconds'],
 ['stats_2012', 'to_sql duration: 0.03875398635864258 seconds'],
 ['stats_2013', 'to_sql duration: 0.03853797912597656 seconds'],
 ['stats_2014', 'to_sql duration: 0.04053854942321777 seconds'],
 ['stats_2015', 'to_sql duration: 0.03968167304992676 seconds'],
 ['stats_2016', 'to_sql duration: 0.038350582122802734 seconds'],
 ['stats_2017', 'to_sql duration: 0.03967690467834473 seconds'],
 ['stats_2018', 'to_sql duration: 0.041529178619384766 seconds'],
 ['stats_2019', 'to_sql duration: 0.03857421875 seconds'],
 ['stats_2020', 'to_sql duration: 0.039031267166137695 seconds'],
 ['stats_2021', 'to_sql duration: 0.03968524932861328 seconds']]

In [20]:
load_to_sql('salaries', 'salaries_data/player_salaries')

[['salaries_2000', 'to_sql duration: 0.03471183776855469 seconds'],
 ['salaries_2001', 'to_sql duration: 0.03020477294921875 seconds'],
 ['salaries_2002', 'to_sql duration: 0.03020000457763672 seconds'],
 ['salaries_2003', 'to_sql duration: 0.03206348419189453 seconds'],
 ['salaries_2004', 'to_sql duration: 0.03282880783081055 seconds'],
 ['salaries_2005', 'to_sql duration: 0.031075477600097656 seconds'],
 ['salaries_2006', 'to_sql duration: 0.030283451080322266 seconds'],
 ['salaries_2007', 'to_sql duration: 0.03032231330871582 seconds'],
 ['salaries_2008', 'to_sql duration: 0.031914710998535156 seconds'],
 ['salaries_2009', 'to_sql duration: 0.04253888130187988 seconds'],
 ['salaries_2010', 'to_sql duration: 0.030081748962402344 seconds'],
 ['salaries_2011', 'to_sql duration: 0.030249595642089844 seconds'],
 ['salaries_2012', 'to_sql duration: 0.031432390213012695 seconds'],
 ['salaries_2013', 'to_sql duration: 0.029964685440063477 seconds'],
 ['salaries_2014', 'to_sql duration: 0.03058791160583496 seconds'],
 ['salaries_2015', 'to_sql duration: 0.03163313865661621 seconds'],
 ['salaries_2016', 'to_sql duration: 0.033648014068603516 seconds'],
 ['salaries_2017', 'to_sql duration: 0.032087087631225586 seconds'],
 ['salaries_2018', 'to_sql duration: 0.031461238861083984 seconds'],
 ['salaries_2019', 'to_sql duration: 0.03607583045959473 seconds'],
 ['salaries_2020', 'to_sql duration: 0.034440040588378906 seconds'],
 ['salaries_2021', 'to_sql duration: 0.03164076805114746 seconds']]

In [18]:
load_to_sql('team_salaries', 'salaries_data/team_salaries')

[['team_salaries_2000', 'to_sql duration: 0.024279356002807617 seconds'],
 ['team_salaries_2001', 'to_sql duration: 0.01954054832458496 seconds'],
 ['team_salaries_2002', 'to_sql duration: 0.01953434944152832 seconds'],
 ['team_salaries_2003', 'to_sql duration: 0.019567251205444336 seconds'],
 ['team_salaries_2004', 'to_sql duration: 0.02307295799255371 seconds'],
 ['team_salaries_2005', 'to_sql duration: 0.02205491065979004 seconds'],
 ['team_salaries_2006', 'to_sql duration: 0.025053024291992188 seconds'],
 ['team_salaries_2007', 'to_sql duration: 0.024561643600463867 seconds'],
 ['team_salaries_2008', 'to_sql duration: 0.02309894561767578 seconds'],
 ['team_salaries_2009', 'to_sql duration: 0.022561311721801758 seconds'],
 ['team_salaries_2010', 'to_sql duration: 0.02549290657043457 seconds'],
 ['team_salaries_2011', 'to_sql duration: 0.023023128509521484 seconds'],
 ['team_salaries_2012', 'to_sql duration: 0.02255392074584961 seconds'],
 ['team_salaries_2013', 'to_sql duration: 0.020549774169921875 seconds'],
 ['team_salaries_2014', 'to_sql duration: 0.021050691604614258 seconds'],
 ['team_salaries_2015', 'to_sql duration: 0.025564908981323242 seconds'],
 ['team_salaries_2016', 'to_sql duration: 0.02205801010131836 seconds'],
 ['team_salaries_2017', 'to_sql duration: 0.02782726287841797 seconds'],
 ['team_salaries_2018', 'to_sql duration: 0.032015323638916016 seconds'],
 ['team_salaries_2019', 'to_sql duration: 0.0257718563079834 seconds'],
 ['team_salaries_2020', 'to_sql duration: 0.030655860900878906 seconds'],
 ['team_salaries_2021', 'to_sql duration: 0.03654742240905762 seconds']]

In [5]:
def load_to_sql(tables, directory):
    table_list = []
    for i in range(22):
        track = []
        var_name = f'{tables}'
        #load in the csvs
        globals()[var_name] = pd.read_csv(f'../updated_datasets/{directory}_data/{tables}.csv')
        globals()[var_name] = globals()[var_name][globals()[var_name].columns[1:]]
        track.append(var_name)
        #upload the csvs to sql
        db = create_engine('postgresql+psycopg2://postgres:password@localhost:5432/nba_disappointments')
        conn = db.connect()

        start_time = time.time()
        globals()[var_name].to_sql(f'{var_name}', con=conn, if_exists='replace', index=False)
        track.append(f'to_sql duration: {time.time() - start_time} seconds')
        #output a list of table names and upload durations
        table_list.append(track)
    return table_list

In [16]:
def awards_data_names():
    table_names = []
    main = soup(requests.get('http://www.espn.com/nba/history/awards').text, 'html.parser')
    links = [a['href'] for a in main.find_all('a', class_='bi', href=True)]
    links.remove('//www.espn.com/nba/history/awards/_/id/34')
    
    for link in links:
        #grab the header of the website page
        name = str(soup(requests.get(f'http:{link}').text).select('h2')[0]).replace(
            '<h2>', '').replace('</h2>', '').replace('<h2>', '').partition('- ')[-1].split()
        
        #'the' doesn't get iterated through so remove it
        if 'the' in name:
            name.remove('the')
            
        #set variable name to the first two capitalized words of the header
        if len(name) > 1:
            for word in name:
                if word[0] != word[0].upper():
                    name.remove(word)
            var_name = (name[0] + '_' + name[1]).lower().replace('-', '_')
        else:
            var_name = ''.join(name).lower()
        
        table_names.append(var_name)
    return table_names

In [17]:
for link in awards_data_names():
    load_to_sql(link, 'awards')