In [2]:
import requests
from bs4 import BeautifulSoup as soup
import uuid
import difflib
import html5lib
import time
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
pd.options.mode.chained_assignment = None

In [3]:
conn_string = 'postgresql+psycopg2://postgres:password@localhost:5432/nba_disappointments'
player_index = pd.read_csv('../updated_datasets/player_index.csv')
player_index = player_index[player_index.columns[1:]]

In [3]:
null_players = pd.read_csv('../updated_datasets/null_players.csv')
null_players = null_players[null_players.columns[1:]]
null_players.head()

             New_name     Original_name
0   Darrell Armstrong  Darrel Armstrong
1  Predrag Stojakovic   Peja Stojakovic
2            PJ Brown        P.J. Brown
3    Jaren Jackson Jr     Jaren Jackson
4           AJ Guyton       A.J. Guyton

In [3]:
db = create_engine(conn_string)
conn = db.connect()

start_time = time.time()
player_index.to_sql('player_index', con=conn, if_exists='replace', index=False)
print("to_sql duration: {} seconds".format(time.time() - start_time))

to_sql duration: 0.07358002662658691 seconds

In [6]:
def load_to_sql(tables, directory):
    table_list = []
    for i in [year for year in range(1996, 2022)]:
        track = []
        var_name = f'{tables}_{i}'
        #load in the csvs
        globals()[var_name] = pd.read_csv(f'../updated_datasets/{directory}/{tables}_{i}.csv')
        globals()[var_name] = globals()[var_name][globals()[var_name].columns[1:]]
        track.append(var_name)
        #upload the csvs to sql
        db = create_engine('postgresql+psycopg2://postgres:password@localhost:5432/nba_disappointments')
        conn = db.connect()

        start_time = time.time()
        globals()[var_name].to_sql(f'{var_name}', con=conn, if_exists='replace', index=False)
        track.append(f'to_sql duration: {time.time() - start_time} seconds')
        #output a list of table names and upload durations
        table_list.append(track)
    return table_list

In [14]:
load_to_sql('draft', 'draft_data')

[['draft_2000', 'to_sql duration: 0.02886223793029785 seconds'],
 ['draft_2001', 'to_sql duration: 0.02787303924560547 seconds'],
 ['draft_2002', 'to_sql duration: 0.026911020278930664 seconds'],
 ['draft_2003', 'to_sql duration: 0.028089046478271484 seconds'],
 ['draft_2004', 'to_sql duration: 0.02652573585510254 seconds'],
 ['draft_2005', 'to_sql duration: 0.030486106872558594 seconds'],
 ['draft_2006', 'to_sql duration: 0.027571916580200195 seconds'],
 ['draft_2007', 'to_sql duration: 0.027065515518188477 seconds'],
 ['draft_2008', 'to_sql duration: 0.027068614959716797 seconds'],
 ['draft_2009', 'to_sql duration: 0.02656841278076172 seconds'],
 ['draft_2010', 'to_sql duration: 0.030083656311035156 seconds'],
 ['draft_2011', 'to_sql duration: 0.026571273803710938 seconds'],
 ['draft_2012', 'to_sql duration: 0.02959132194519043 seconds'],
 ['draft_2013', 'to_sql duration: 0.02646350860595703 seconds'],
 ['draft_2014', 'to_sql duration: 0.02655816078186035 seconds'],
 ['draft_2015', 'to_sql duration: 0.027091264724731445 seconds'],
 ['draft_2016', 'to_sql duration: 0.0302884578704834 seconds'],
 ['draft_2017', 'to_sql duration: 0.027067184448242188 seconds'],
 ['draft_2018', 'to_sql duration: 0.028585195541381836 seconds'],
 ['draft_2019', 'to_sql duration: 0.02896881103515625 seconds'],
 ['draft_2020', 'to_sql duration: 0.03209114074707031 seconds'],
 ['draft_2021', 'to_sql duration: 0.027106046676635742 seconds']]

In [7]:
load_to_sql('stats', 'stats_data')

[['stats_1996', 'to_sql duration: 0.040480613708496094 seconds'],
 ['stats_1997', 'to_sql duration: 0.03913450241088867 seconds'],
 ['stats_1998', 'to_sql duration: 0.03859066963195801 seconds'],
 ['stats_1999', 'to_sql duration: 0.04082489013671875 seconds'],
 ['stats_2000', 'to_sql duration: 0.038606882095336914 seconds'],
 ['stats_2001', 'to_sql duration: 0.0401616096496582 seconds'],
 ['stats_2002', 'to_sql duration: 0.03980374336242676 seconds'],
 ['stats_2003', 'to_sql duration: 0.04202985763549805 seconds'],
 ['stats_2004', 'to_sql duration: 0.039624929428100586 seconds'],
 ['stats_2005', 'to_sql duration: 0.03944706916809082 seconds'],
 ['stats_2006', 'to_sql duration: 0.03858828544616699 seconds'],
 ['stats_2007', 'to_sql duration: 0.040868520736694336 seconds'],
 ['stats_2008', 'to_sql duration: 0.041643381118774414 seconds'],
 ['stats_2009', 'to_sql duration: 0.04050588607788086 seconds'],
 ['stats_2010', 'to_sql duration: 0.04051923751831055 seconds'],
 ['stats_2011', 'to_sql duration: 0.04309368133544922 seconds'],
 ['stats_2012', 'to_sql duration: 0.04011654853820801 seconds'],
 ['stats_2013', 'to_sql duration: 0.03961348533630371 seconds'],
 ['stats_2014', 'to_sql duration: 0.04184579849243164 seconds'],
 ['stats_2015', 'to_sql duration: 0.08744621276855469 seconds'],
 ['stats_2016', 'to_sql duration: 0.041748762130737305 seconds'],
 ['stats_2017', 'to_sql duration: 0.043103694915771484 seconds'],
 ['stats_2018', 'to_sql duration: 0.04404425621032715 seconds'],
 ['stats_2019', 'to_sql duration: 0.04258012771606445 seconds'],
 ['stats_2020', 'to_sql duration: 0.04307389259338379 seconds'],
 ['stats_2021', 'to_sql duration: 0.04494190216064453 seconds']]

In [20]:
load_to_sql('salaries', 'salaries_data/player_salaries')

[['salaries_2000', 'to_sql duration: 0.03471183776855469 seconds'],
 ['salaries_2001', 'to_sql duration: 0.03020477294921875 seconds'],
 ['salaries_2002', 'to_sql duration: 0.03020000457763672 seconds'],
 ['salaries_2003', 'to_sql duration: 0.03206348419189453 seconds'],
 ['salaries_2004', 'to_sql duration: 0.03282880783081055 seconds'],
 ['salaries_2005', 'to_sql duration: 0.031075477600097656 seconds'],
 ['salaries_2006', 'to_sql duration: 0.030283451080322266 seconds'],
 ['salaries_2007', 'to_sql duration: 0.03032231330871582 seconds'],
 ['salaries_2008', 'to_sql duration: 0.031914710998535156 seconds'],
 ['salaries_2009', 'to_sql duration: 0.04253888130187988 seconds'],
 ['salaries_2010', 'to_sql duration: 0.030081748962402344 seconds'],
 ['salaries_2011', 'to_sql duration: 0.030249595642089844 seconds'],
 ['salaries_2012', 'to_sql duration: 0.031432390213012695 seconds'],
 ['salaries_2013', 'to_sql duration: 0.029964685440063477 seconds'],
 ['salaries_2014', 'to_sql duration: 0.03058791160583496 seconds'],
 ['salaries_2015', 'to_sql duration: 0.03163313865661621 seconds'],
 ['salaries_2016', 'to_sql duration: 0.033648014068603516 seconds'],
 ['salaries_2017', 'to_sql duration: 0.032087087631225586 seconds'],
 ['salaries_2018', 'to_sql duration: 0.031461238861083984 seconds'],
 ['salaries_2019', 'to_sql duration: 0.03607583045959473 seconds'],
 ['salaries_2020', 'to_sql duration: 0.034440040588378906 seconds'],
 ['salaries_2021', 'to_sql duration: 0.03164076805114746 seconds']]

In [7]:
load_to_sql('team_salaries', 'salaries_data/team_salaries')

[['team_salaries_1990', 'to_sql duration: 0.019031047821044922 seconds'],
 ['team_salaries_1991', 'to_sql duration: 0.01790595054626465 seconds'],
 ['team_salaries_1992', 'to_sql duration: 0.01920151710510254 seconds'],
 ['team_salaries_1993', 'to_sql duration: 0.01888298988342285 seconds'],
 ['team_salaries_1994', 'to_sql duration: 0.018036842346191406 seconds'],
 ['team_salaries_1995', 'to_sql duration: 0.0188748836517334 seconds'],
 ['team_salaries_1996', 'to_sql duration: 0.020041465759277344 seconds'],
 ['team_salaries_1997', 'to_sql duration: 0.017959117889404297 seconds'],
 ['team_salaries_1998', 'to_sql duration: 0.0201876163482666 seconds'],
 ['team_salaries_1999', 'to_sql duration: 0.024034976959228516 seconds'],
 ['team_salaries_2000', 'to_sql duration: 0.0393068790435791 seconds'],
 ['team_salaries_2001', 'to_sql duration: 0.03924274444580078 seconds'],
 ['team_salaries_2002', 'to_sql duration: 0.03959774971008301 seconds'],
 ['team_salaries_2003', 'to_sql duration: 0.03753399848937988 seconds'],
 ['team_salaries_2004', 'to_sql duration: 0.03878521919250488 seconds'],
 ['team_salaries_2005', 'to_sql duration: 0.040303707122802734 seconds'],
 ['team_salaries_2006', 'to_sql duration: 0.04241037368774414 seconds'],
 ['team_salaries_2007', 'to_sql duration: 0.03757452964782715 seconds'],
 ['team_salaries_2008', 'to_sql duration: 0.04511880874633789 seconds'],
 ['team_salaries_2009', 'to_sql duration: 0.03994917869567871 seconds'],
 ['team_salaries_2010', 'to_sql duration: 0.038918256759643555 seconds'],
 ['team_salaries_2011', 'to_sql duration: 0.03593301773071289 seconds'],
 ['team_salaries_2012', 'to_sql duration: 0.03970623016357422 seconds'],
 ['team_salaries_2013', 'to_sql duration: 0.03994393348693848 seconds'],
 ['team_salaries_2014', 'to_sql duration: 0.03766202926635742 seconds'],
 ['team_salaries_2015', 'to_sql duration: 0.03680825233459473 seconds'],
 ['team_salaries_2016', 'to_sql duration: 0.04110240936279297 seconds'],
 ['team_salaries_2017', 'to_sql duration: 0.03941702842712402 seconds'],
 ['team_salaries_2018', 'to_sql duration: 0.0407252311706543 seconds'],
 ['team_salaries_2019', 'to_sql duration: 0.03962421417236328 seconds'],
 ['team_salaries_2020', 'to_sql duration: 0.04130411148071289 seconds'],
 ['team_salaries_2021', 'to_sql duration: 0.04073071479797363 seconds']]

In [8]:
load_to_sql('season_totals', 'season_totals')

[['season_totals_1996', 'to_sql duration: 0.06493878364562988 seconds'],
 ['season_totals_1997', 'to_sql duration: 0.06453943252563477 seconds'],
 ['season_totals_1998', 'to_sql duration: 0.06415915489196777 seconds'],
 ['season_totals_1999', 'to_sql duration: 0.06102395057678223 seconds'],
 ['season_totals_2000', 'to_sql duration: 0.06259870529174805 seconds'],
 ['season_totals_2001', 'to_sql duration: 0.059267520904541016 seconds'],
 ['season_totals_2002', 'to_sql duration: 0.06098675727844238 seconds'],
 ['season_totals_2003', 'to_sql duration: 0.05966901779174805 seconds'],
 ['season_totals_2004', 'to_sql duration: 0.06129050254821777 seconds'],
 ['season_totals_2005', 'to_sql duration: 0.06106257438659668 seconds'],
 ['season_totals_2006', 'to_sql duration: 0.06080222129821777 seconds'],
 ['season_totals_2007', 'to_sql duration: 0.06003856658935547 seconds'],
 ['season_totals_2008', 'to_sql duration: 0.06119871139526367 seconds'],
 ['season_totals_2009', 'to_sql duration: 0.05885577201843262 seconds'],
 ['season_totals_2010', 'to_sql duration: 0.06603026390075684 seconds'],
 ['season_totals_2011', 'to_sql duration: 0.06209540367126465 seconds'],
 ['season_totals_2012', 'to_sql duration: 0.06254386901855469 seconds'],
 ['season_totals_2013', 'to_sql duration: 0.062464237213134766 seconds'],
 ['season_totals_2014', 'to_sql duration: 0.06150197982788086 seconds'],
 ['season_totals_2015', 'to_sql duration: 0.06185007095336914 seconds'],
 ['season_totals_2016', 'to_sql duration: 0.06030106544494629 seconds'],
 ['season_totals_2017', 'to_sql duration: 0.06514239311218262 seconds'],
 ['season_totals_2018', 'to_sql duration: 0.06354117393493652 seconds'],
 ['season_totals_2019', 'to_sql duration: 0.06296396255493164 seconds'],
 ['season_totals_2020', 'to_sql duration: 0.06487226486206055 seconds'],
 ['season_totals_2021', 'to_sql duration: 0.06714892387390137 seconds']]

In [5]:
def load_to_sql(tables, directory):
    table_list = []
    for i in range(22):
        track = []
        var_name = f'{tables}'
        #load in the csvs
        globals()[var_name] = pd.read_csv(f'../updated_datasets/{directory}_data/{tables}.csv')
        globals()[var_name] = globals()[var_name][globals()[var_name].columns[1:]]
        track.append(var_name)
        #upload the csvs to sql
        db = create_engine('postgresql+psycopg2://postgres:password@localhost:5432/nba_disappointments')
        conn = db.connect()

        start_time = time.time()
        globals()[var_name].to_sql(f'{var_name}', con=conn, if_exists='replace', index=False)
        track.append(f'to_sql duration: {time.time() - start_time} seconds')
        #output a list of table names and upload durations
        table_list.append(track)
    return table_list

In [16]:
def awards_data_names():
    table_names = []
    main = soup(requests.get('http://www.espn.com/nba/history/awards').text, 'html.parser')
    links = [a['href'] for a in main.find_all('a', class_='bi', href=True)]
    links.remove('//www.espn.com/nba/history/awards/_/id/34')
    
    for link in links:
        #grab the header of the website page
        name = str(soup(requests.get(f'http:{link}').text).select('h2')[0]).replace(
            '<h2>', '').replace('</h2>', '').replace('<h2>', '').partition('- ')[-1].split()
        
        #'the' doesn't get iterated through so remove it
        if 'the' in name:
            name.remove('the')
            
        #set variable name to the first two capitalized words of the header
        if len(name) > 1:
            for word in name:
                if word[0] != word[0].upper():
                    name.remove(word)
            var_name = (name[0] + '_' + name[1]).lower().replace('-', '_')
        else:
            var_name = ''.join(name).lower()
        
        table_names.append(var_name)
    return table_names

In [17]:
for link in awards_data_names():
    load_to_sql(link, 'awards')