In [1]:
import requests
from bs4 import BeautifulSoup as soup
import pandas as pd

In [47]:
team_abb = pd.read_html(requests.get('http://www.shrpsports.com/nba/explain.htm').text)[-1].drop(columns = [2])
team_abb.rename(columns = {0:'Team', 1:'Abb'}, inplace=True)
team_abb = team_abb[1:].reset_index(drop=True)
team_abb['Abb'] = team_abb['Abb'].str.upper() 
team_abb

            Team  Abb
0        Atlanta  ATL
1       Anderson  AND
2    Bal Bullets  BLB
3      Baltimore  BAL
4         Boston  BOS
..           ...  ...
68     Vancouver  VAN
69  Was Capitols  WSC
70   Was Bullets  WSB
71    Washington  WSH
72      Waterloo  WAT

[73 rows x 2 columns]

In [48]:
def make_table(num):
    table_list = []
    for i in range(num + 1):
        #define unique variables for each table
        year = f'{2000 + i}-{2001 + i}/'
        var_name = f'team_salaries_{2000 + i}'
        try: 
            #grab the data
            globals()[var_name] = pd.read_html(requests.get(f'https://hoopshype.com/salaries/{year}').text)[0].drop(columns = ['Unnamed: 0', f'{year[:4]}/{year[7:9]}(*)'])

            #clean the dataset
            globals()[var_name].rename(columns={f'{year[:4]}/{year[7:9]}':'Totals'}, inplace=True)
            globals()[var_name][globals()[var_name].columns[1:]] = globals()[var_name][globals()[var_name].columns[1:]].replace(
                '[\$,]', '', regex=True).astype(float)
            globals()[var_name]['Year'] = year[:4]
            
            #merge and save
            globals()[var_name] = pd.merge(left=globals()[var_name], right=team_abb, how='left', on='Team')
            globals()[var_name].to_csv(f'../updated_datasets/salaries_data/team_salaries/{var_name}.csv')
            table_list.append(var_name)
        except:
            table_list.append(f'{var_name} had an error loading')
    return table_list

In [49]:
make_table(21)

['team_salaries_2000',
 'team_salaries_2001',
 'team_salaries_2002',
 'team_salaries_2003',
 'team_salaries_2004',
 'team_salaries_2005',
 'team_salaries_2006',
 'team_salaries_2007',
 'team_salaries_2008',
 'team_salaries_2009',
 'team_salaries_2010',
 'team_salaries_2011',
 'team_salaries_2012',
 'team_salaries_2013',
 'team_salaries_2014',
 'team_salaries_2015',
 'team_salaries_2016',
 'team_salaries_2017',
 'team_salaries_2018',
 'team_salaries_2019',
 'team_salaries_2020',
 'team_salaries_2021']

In [22]:
team_salaries_2000.head()

         Team      Totals  Year
0    Portland  87395140.0  2000
1    New York  74007738.0  2000
2       Miami  73472329.0  2000
3    Brooklyn  68977578.0  2000
4  Washington  59085969.0  2000

In [6]:
team_salaries_2020.head()

           Team       Totals  Year
0  Golden State  171105334.0  2020
1      Brooklyn  170444633.0  2020
2  Philadelphia  147825311.0  2020
3   LA Clippers  139722606.0  2020
4     LA Lakers  139334713.0  2020

In [7]:
def single_year(year):
    var_name = f'team_salaries_{year}'
    year = f'{year}-{year + 1}/'
    try: 
        globals()[var_name] = pd.read_html(requests.get(f'https://hoopshype.com/salaries/team_salaries/{year}').text)[0].drop(columns = ['Unnamed: 0', f'{year[:4]}/{year[7:9]}(*)'])
        globals()[var_name].rename(columns={f'{year[:4]}/{year[7:9]}':'Salary Total'}, inplace=True)
        globals()[var_name]['Year'] = year[:4]
        globals()[var_name][globals()[var_name].columns[1:]] = globals()[var_name][globals()[var_name].columns[1:]].replace(
                    '[\$,]', '', regex=True).astype(float)
        globals()[var_name].to_csv(f'../updated_datasets/salaries_data/team_salaries/{var_name}.csv')
    except:
        print(f'{var_name} has an error loading')
    return var_name

In [8]:
single_year(2001)

'team_salaries_2001'

In [9]:
def assign_team_abbs(row):
    return team_abb.loc[team_abb['Team'] == row['Team'], 'Abb']

In [10]:
team_salaries_2000['Abb'] = team_salaries_2000.apply(assign_team_abbs, axis=1)

ValueError: Cannot index with multidimensional key